[submodule "runtimes/CSApprox"]
	path = runtimes/CSApprox
	url = git@github.com:godlygeek/csapprox.git
[submodule "runtimes/netlib"]
	path = runtimes/netlib
	url = git@github.com:godlygeek/netlib.git
[submodule "runtimes/windowlayout"]
	path = runtimes/windowlayout
	url = git@github.com:godlygeek/windowlayout.git
